ALLOWED_ORIGINS=https://data-scube-solutions.vercel.app/
API_BASE_URL=https://data-scube-solutions.vercel.app/
API_VERSION=v1
BCRYPT_ROUNDS=12
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
ERROR_LOG_FILE=logs/error.log
FROM_EMAIL=apptestnodemailer730@gmail.com
HEALTH_CHECK_TIMEOUT=5000
JWT_EXPIRES_IN=24h
JWT_SECRET=datascube
LOG_FILE=logs/combined.log
LOG_LEVEL=info
MAIL_PASS="uajw muti dajb voyc"
MAIL_USER=apptestnodemailer730@gmail.com
MAX_FILE_SIZE=10485760
MONGODB_TEST_URI="mongodb+srv://nikul:nikul@datascube.7fholtw.mongodb.net/datascube_test?retryWrites=true&w=majority&appName=dataScube"
MONGODB_URI="mongodb+srv://nikul:nikul@datascube.7fholtw.mongodb.net/datascube?retryWrites=true&w=majority&appName=dataScube"
NODE_ENV=development
PORT=3000
RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_WINDOW_MS=900000
REDIS_URL=redis://localhost:6379
SMTP_HOST=smtp.gmail.com
SMTP_PASS="uajw muti dajb voyc"
SMTP_PORT=587
SMTP_USER=apptestnodemailer730@gmail.com
UPLOAD_PATH=uploads/
WHATSAPP_ACCESS_TOKEN=EAAKtR8rbYiEBP9rwmfEQjMieeyLZAIORSYkVHQuMjCdnxj5uOyuljC4X3aOmuZBqZCFKlpMSlc3AEGsTBBLc6k6pbg6F36J7fNbXLSbRChv0hHqvho7aMiQwwUzsQzy47hVSwrlorNzFPODnkh1hJ8ogZC7jRa3PQ3hfBZAT5UMIy9COgp0tlTjIMTKdQTzNishLYh3bFjNwyConBDOFYFtPov5ZBw0bNdAa8bAtMP3qSunhP8sL6lHAh41565NqcYmvV1pWETmVEErpN4r1qmlLWS
WHATSAPP_PHONE_NUMBER_ID=840038685859111
WHATSAPP_VERIFY_TOKEN=datascube_webhook_2024_secure